{% load staticfiles %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC >
<html>

<head>
    <link rel="StyleSheet" href="{% static "style.css" %}" type="text/css" media="all" />
<title>
    ﻿Madrid Hoteles
</title>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<style>
  body{
    background-color: {{ color }}
  }
  body{
    font-size: {{size}}
  }
</style>
<div class="container">

    <div class="titleblock">
        {% if user %}
            <p> Hola  {{ user }}</p>
            <a href='admin/logout/'><button>Logout</button></a><br>
        {% else %}
            <form action="accounts/profile/" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <label for="username">Username</label><input type="text" name="username" value="" />
                <br>
                <label for="password">Password</label><input type="password" name="password" value=""  />
                <p><input type="submit" value="Login"></p>
            </form>
        {% endif %}

    </div>

    <ul class="navbar">
		 <li><a href="http://127.0.0.1:1234/" class="nav">INICIO</a></li>
		 <li><a href="http://127.0.0.1:1234/alojamientos" class="nav">TODOS</a></li>
		 <li><a href="http://127.0.0.1:1234/about" class="nav">ABOUT</a></li>
    </ul>
</div>
<div class="rightcontainer">

	<div class="rightbox">
	  <h2>Usuarios</h2>
      <ul>
          {% for h in listausers %}
            {% if h.title == condicion %}
                <li><a href= "http://127.0.0.1:1234/{{ h.user }}">Pagina de {{h.id}}</a></li>
            {% else %}
                <li><a href= "http://127.0.0.1:1234/{{ h.user }}">{{h.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
	</div>
</div>

<div class="content">
     Puede verlo en:	
     	<a href="http://127.0.0.1:1234/alojamientos/ingles">ingles</a>	
     	<a href="http://127.0.0.1:1234/alojamientos/frances">frances</a>	
     <br>
     </br>					
    {% if user %}
      ¿Tu Opinion?
      <form action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
        <textarea name="comentarios"></textarea>
        <p><input type="submit" value="Send"></p>
      </form>
    {% endif %}
    <div>
    {% if user %}
        <form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
        <p><input type="submit" value="Lo Quiero"></p>
    </form>
    {% endif %}
    </div>

    <li>{{ address }}</li>
    <li> {{type}}</li>
    <li> {{stars}}</li>
    {% for h in lista %}

        {% if h.source != condicion %}
        <img src="{{ h.url }}"></img>
        {% else %}
        <li> No hay imagenes para mostrar </li>
        {% endif %}
    {% endfor %}


	

   
<br/>
    Comentarios:
    <br/>
    {% for h in comentarios %}
        <p> <li>{{ h.text }} <br></li> </p>
    {% endfor %}
</div>

<div class="footer">
        <p>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</p>
        <p><a href="http://cursosweb.github.io/etc/alojamientos_es.xml">Datos XML</a></p>
        <p><a href="http://bit.ly/1T24Zsq">Descripción</a></p>
</div>

</div>
</body>
</html>
